[Unit]
Description=am-helper
Documentation=https://github.com/AhiruMarsh/am-helper
After=network-online.target remote-fs.target
Wants=network-online.target remote-fs.target

[Service]
Type=oneshot
WorkingDirectory=/opt/a-marsh/am-helper
ExecStart=/bin/bash am-helper.sh

[Install]
WantedBy=multi-user.target
