[Unit]
Description=minecraft - {{ mc_join_fqdn }}
After=network.target

[Service]
Type=simple
User=am-helper
WorkingDirectory=/opt/a-marsh/minecraft
ExecStart=/usr/local/bin/docker compose pull && /usr/local/bin/docker compose up -d
ExecStop=/usr/local/bin/docker compose down
Restart=on-failure

[Install]
WantedBy=multi-user.target
